.dropdown{
    position : relative;
    display :block;
  }
  
  .dropdown-content{
    display : none;
    position : absolute;
    z-index : 1;
    width: 1519.5px;
    background-color: aqua;
    margin-top:255px;
    margin-left: -350px;
    
  }
  
  .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
  }
  
  .dropdown-content a:hover{
    background-color : #ececec
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }