.header{
    width: 100%;
    height: 140px;
    display: block;
    align-items: center;
    justify-content: space-between;
}
.img{
    margin-left: 177px;
    margin-top:23px;
    padding: 0;
    line-height: 0;
    vertical-align: top;
    overflow: clip;
    cursor: pointer;
}
.img2{
    margin-right:500px;
}
*{
    box-sizing: border-box;
}
.header ul > li{
    font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
}
li+li{
    margin-left: 100px;
}
header ul {
    margin-left: 360px;
    margin-top: -70px;
	display: flex;
}
.li2{
    margin-left:1035px;
    margin-top:-35px;
    display: flex;
}
.li3{
    margin-left:1300px;
    margin-top:-50px;
    display: flex;
}

button + button{
    margin-left:5px;
}

div button{
    width:80px;
    height:36px;
    border-radius: 50px;
}

.imcha{
    background-color: #DB0007;
    color: white;
    border: 0;
}

.eng{
    background-color: #264A36;
    color: white;
    border: 0;
}

.rec{
    background-color: #D87E00;
    color: white;
    border: 0;
}
h4{
    margin-top:10px;
}
.df{
    display: flex;
}
.dropdown{
    position : relative;
    display :block;
  }
  
  .dropdown-content{
    display : none;
    position : absolute;
    width: 100%;
    height: 370px;
    background-color: white;
    margin-top: 505px;
    margin-left: -370px;
    z-index: 50;
  }
  
  .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
  }
  
  .dropdown-content a:hover{
    
    text-decoration: underline;
  }
  
  .header:hover .dropdown-content {
    display: block;
  }
  .dropli{
    margin-left: 350px;
    width: 150px;
    font-weight: bold;
    color:gray;
    font-size: 16px;
  }

  .dropli2{
    display: flex;
    width: 150px;
    font-weight: bold;
    color:gray;
    font-size: 16px;
    margin-left: 500px;
  }
  .dropli3{
    display: flex;
    width: 150px;
    font-weight: bold;
    margin-left: 650px;
  }
  .dropli4{
    display: flex;
    width: 200px;
    font-weight: bold;
    margin-left: 865px;
  }

  .tt{
    margin-top: -340.5px;
  }
  .tt2{
    margin-top: -182.5px;
  }
  .tt3{
    margin-top: -136.5px;
  }